@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* debug */

.top-section{
    background-color: black;
}

.mid-section{
    background-color: black;
}

.bot-section{
    background-color: lightgrey;
}

/* fine debug */

/* utility */

.flex{
    display: flex;
}

.f-space-between{
    justify-content: space-between;
}

.f-align-center{
    align-items: center;
}


.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-90{
    width: 90%;
    margin-inline: auto;
}

/* top section */

.top-section{
    justify-content: flex-end;
    color: white;
    padding: 10px;
}

.top-section > a{
    background-color: #4A4A4A;
    border-radius: 5px;
    font-size: 1rem;
    padding: 5px;
    margin: 0 5px;
}

/* mid section */

.mid-section{
    flex-grow: 1;
}

.card-box{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    flex-basis: calc( 100% / 7 );
    position: relative;
    padding: 5px;
}

.card img{
    width: 100%;
    height: 100%;
}

.user-name{
    position: absolute;
    left: 5px;
    bottom: 10px;
    background-color: rgba( 255, 255, 255, 0.5);
    color: white;
    padding: 5px 10px;
}

/* bot section */

.bot-section{
    justify-content: space-between;
    background-color: #222222;
    color: white;
}

.nav-button{
    height: 100%;
    text-align: center;
    padding: 0 3px;
}

.nav-icon{
    padding: 10px;
}

.nav-icon i{
    font-size: 2rem;
}

.green-icon{
    color: #4BC800;
}

.nav-right{
    color: red;
    background-color: #4A4A4A;
}

h4{
    padding: 10px;
}

.fa-angle-up{
    padding: 3px;
}

/* hover */

.nav-icon:hover{
    cursor: pointer;
    background-color: #4A4A4A;
    color: #5693bb;
}

.fa-angle-up:hover{
    cursor: pointer;
    background-color: #4A4A4A;
    border-radius: 50%;
    color: #5693bb;
}

.nav-right:hover{
    cursor: pointer;
    opacity: 70%;
}